*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34, 33, 33);
    margin: auto;
}

.notif,.form{
    margin-top: 40px;
    border: 2px solid #fff;
    background-color: #fff rgb(34, 33, 33) blueviolet;
    border-radius: 15px;
    padding: 30px;
    width: 200px;
    min-height: 100px;
    max-width: fit-content;
}

.notif{
    color: #fff;
    margin-right: 10px;
    text-align: right;
    transform: skew(-2deg,3deg) rotate(3deg);
}

.form{
    margin-left: 10px;
    transform: skew(2deg,-3deg) rotate(-3deg);
    border: none;
}
.form>legend{
    display: none;
}
legend{
    margin-left: auto;
    margin-right: auto;
}

legend:hover{
    animation: rotateImg 2s;
}

.notif label{
    color: blueviolet;
}

.form div{
    margin-bottom: 5px;
    border: 1px solid rgb(34, 33, 33);
    background-color: rgb(34, 33, 33);
    border-radius: 5px;
    width: 190px;
    color: #fff;
    padding: 5px;
}

.form div:hover{
    background-color: blueviolet;
}

.form div input[type=text],.form div input[type=date]{
    background-color: rgb(34, 33, 33);
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
}

.form button{
    margin-top: 5px;
    padding: 10px;
    border: none;
    width: fit-content;
    border-radius: 20px;
    background-color: blueviolet;
    color: #fff;
    transform: translateX(-100px) rotate(5deg);
}

form{
    display: block;
}

.form .own_inf{
    margin-bottom: 10px;
    transform: rotate(-5deg);
    border-radius: 15px;
}
.form .owner_inf{
    margin-bottom: 20px;
    border-radius: 15px;
    transform: translateX(-100px) rotate(5deg);
}

@keyframes rotateImg {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(0deg);}
}

